<section class="box">
    <h3 class="title">{{title}}</h3>
    <p>{{content}}</p>
    <p>Witten by {{user.name}} on {{date_created}}</p>
</section>
<section class="box">
    {{#each comments as |comment|}}
        <p>{{comment.user.name}} said:</p>
        <p>{{comment.content}}</p>
        <p style="margin-bottom: 20px; margin-top: 10px;">{{comment.date_created}}</p>
    {{/each}}
</section>